@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Id)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Address)
  @Html.EditorFor(model => model.Address)
  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)

  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save" />

}